body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

.input {
    visibility: hidden;
}

.label {
    background-color: lightgray;
    width: 80px;
    height: 40px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
}

.circle {
    background-color: white;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    position: absolute;
    top: 3px;
    left: 3px;
    transition: transform 0.4s linear;
}

.input:checked + .label {
    background-color: white;
}

.input:checked + .label .circle {
    transform: translateX(40px);
    background-color: black;
}

