body {
    margin: 0;
    padding: 0;
    background-color: aliceblue;
}

h1 {
    font-size: 2rem;
    text-align: center;
    padding-top: 100px;
}

p {
    font-size: 1.2rem;
    text-align: center;
    margin-bottom: 0.5rem;
}

.buttons {
    display: flex;
    justify-content: center;
}

button {
    border: none;
    font-size: 3.5rem;
    margin: 0.5rem;
    padding: 0.5rem;
    background-color: rgb(78, 237, 184);
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    opacity: 0.7;
}

#rock {
    background-color: rgb(239, 50, 88);
}

#paper {
    background-color: aqua;
}

#user-score {
    color: rgb(6, 199, 252);
}

#computer-score {
    color: red;
}