.anime-img {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    border: 4px solid rgb(69, 121, 23);
}

body {
    margin: 0;
    background: linear-gradient(to right, lightgreen, rgb(240, 240, 88));
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box {
    background-color: aliceblue;
    width: 450px;
    text-align: center;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.btn {
    padding: 10px 30px;
    margin-bottom: 30px;
    background-color: rgb(13, 190, 13);
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

.btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}

.anime-name {
    background-color: green;
    margin: 20px;
    color: white;
    padding: 10px;
    border-radius: 6px;
}

.anime-box {
    display: none;
}