* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F5F7FF;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    align-items: center;
    padding: 1rem;
    font-family: sans-serif;
}

.container {
    background-color: white;
    padding: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
}

.screen {
    display: none;
    padding: 2rem;
    text-align: center;
}

.screen.active {
    display: block;
}

#start-screen h1 {
    color: orange;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

#start-screen p {
    color: #666;
    margin-bottom: 30px;
    font-size: 1.1rem;
}

.quiz-header {
    margin-bottom: 1rem;
}

#question-text {
    color: #333;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.quiz-info {
    display: flex;
    justify-content: space-between;
    color: #666;
    margin-bottom: 10px;
}

.answers-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 25px;
}

.answer-btn {
    background-color: #f8f0e5;
    color: #333;
    border: 2px solid #eadbc8;border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    text-align: left;
    transition: all 0.3s ease;
}

.answer-btn:hover {
    background-color: #eadbc8;
    border-color: #dac0ae;
}

.answer-btn.correct {
    background-color: #e8f5e9;
    border-color: #4CAF50;
    color: #4CAF50;
}

.answer-btn.incorrect {
    background-color: #ffebee;
    border-color: #F44336;
    color: #F44336;
}

.progress-bar {
    height: 10px;
    background-color: #f8f0e5;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #e86a33;
    width: 0%;
    transition: width 0.3s ease;
}

#result-screen h1 {
    color: #e86a33;
    margin-bottom: 30px;
}

.result-info {
    background-color: #f8f0e5;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
}

.result-info p {
    font-size: 1.2rem;
    color: #333;
    margin-bottom: 1rem;
}

#result-message {
    font-size: 1.5rem;
    font-weight: 600;
    color: #e86a33;
}

button {
    background-color: #6C63FF;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    font-size: 1.1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #574fd6;
}


@media (max-width: 500px) {
    .screen {
        padding: 1rem;
    }

    #start-screen h1 {
        font-size: 2rem;
    }

    #question-text {
        font-size: 1.3rem;
    }

    .answer-btn {
        padding: 12px;
    }

    button {
        padding: 12px 25px;
        font-size: 1rem;
    }
}