* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(177, 211, 241);
}

.clock {
    width: 300px;
    height: 300px;
    background-color:  rgba(255, 255, 255, 0.9);
    border-radius: 50%;
    border: 2px solid rgba(17, 1, 23, 0.26);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock span {
    position: absolute;
    transform: rotate(calc(30deg * var(--i)));
    inset: 12px;
    text-align: center;
}

.clock span b {
    transform: rotate(calc(-30deg * var(--i)));
    display: inline-block;
    font-size: 19px;
}

.clock::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #000000;
    z-index: 5;
}

.hand {
    position: absolute;
    display: flex;
    justify-self: center;
    align-items: flex-end;
}

.hand i{
    position: absolute;
    background-color: var(--clr);
    width: 4px;
    height: var(--h);
    border-radius: 8px;
}