body {
    margin: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.testimonial-container {
    width: 500px;
    height: 100px;
    background-color: rgb(244, 255, 124);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    min-width: 400px;
    padding: 70px 20px;
    margin: 5px;
    position: relative;
}

img {
    width: 100px;
    height: 100px;  
    border-radius: 50%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}