body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(57, 162, 255);
    overflow: hidden;
}

h2 {
    color: white;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
}

.year {
    font-size: 5em;
    color: white;
    font-weight: bold;
}

.countdown {
    margin: 30px;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    width: 100%;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.countdown div {
    margin: 0 15px;
    font-size: 2.5em;
    font-weight: 500;
    margin-top: -25px;
    position: relative;
    text-align: center;
    width: 100px;
}

.countdown div::before {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0px;
    font-size: 0.35em;
    text-transform: uppercase;
    letter-spacing: 1px;
    width: 100%;
}

.countdown #day::before {
    content: "Days";
}

.countdown #hour::before {
    content: "Hours";
}

.countdown #minute::before {
    content: "Minutes";
}

.countdown #second::before {
    content: "Seconds";
}