body {
    margin: 0;
}

.bg-img {
    width: 100%;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1718064389837-a197b4ca2a79?q=80&w=1185&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.box {
    padding: 100px;
}

@media (max-width: 500px) {
    .box {
        padding: 10px;
    }
}

h1 {
    font-size: 3.5rem;
}

p {
    color: gray;
}